.advantages {
  display: flex;
  column-gap: 15px;
  overflow-x: auto;
  margin-bottom: 40px;
  // .advantages__item
  &__item {
    display: flex;
    align-items: center;
    border: 1px solid #f2f3f5;
    box-shadow: 0px 4px 12px rgba(34, 42, 70, 0.03);
    border-radius: 5px;
    padding: 20px 25px;
    min-width: 222px;
    width: 100%;
  }
  &__item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    
  }
  // .advantages__text
  &__text {
    font-size: 14px;
    line-height: 20px;
  }
}
