.bouquets {
	padding-bottom: 60px;
	// .bouquets__container
	&__container {
		position: relative;
	}
	&__title-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__title {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(30, 20);
	}
	&__title-link {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	// .bouquets__slider
	&__slider {

	}
	// .bouquets__wrapper
	&__wrapper {
		
	}
	// .bouquets__slide
	&__slide {
	}
	
	&__slider-prev {
		display: none;
		position: absolute;
		top: 50%;
		left: -5px;
		z-index: 1;
		@media (min-width: $pc) {
				display: block;
		}
	}
	&__slider-next {
		display: none;
		position: absolute;
		top: 50%;
		right: -5px;
		z-index: 1;
		@media (min-width: $pc) {
				display: block;
		}
	}
	// .bouquets__slider-button
	&__slider-button {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #ffffff;
		box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.15);
		padding: 10px;
	}
	// .bouquets__slider-prev
	&__slider-prev {
	}
	// .bouquets__slider-next
	&__slider-next {
	}
}

.bouquets__slider.swiper {
	@media (max-width: 1120px) {
		overflow: visible;
	}
}

.bouquets__slider-button.bouquets__slider-prev.swiper-button-disabled {
	opacity: 0;
	pointer-events: none;
}

.bouquets__slider-button.bouquets__slider-next.swiper-button-disabled {
	pointer-events: none;
		opacity: 0;
}