.card-list {
  display: flex;
  gap: 30px;
}

.card-item {
}

.card {
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: border 0.3s linear;

  &:hover {
    border-color: $red;
  }
  
  // .card__header
  &__header {
    position: relative;
  }
  // .card__labels
  &__labels {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
  }
  // .card__label
  &__label {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background: $green;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 5px 10px;

    // .card__label--discount
    &--discount {
    }
    // .card__label--hit
    &--hit {
    }
    // .card__label--new
    &--new {
    }
  }
  // .card__controls
  &__controls {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
  }
  // .card__favorite-button
  &__favorite-button {
    cursor: pointer;
  }
  // .card__slider
  &__slider {
  }
  // .card__wrapper
  &__wrapper {
  }
  // .card__slide
  &__slide {
  }
  // .card__slider-pagination
  &__slider-pagination {
  }
  // .card__body
  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  // .card__title
  &__title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  // .card__text
  &__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
    flex: 1 1 auto;
  }
  // .card__body-control
  &__body-control {
    display: flex;
  }
  // .card__price
  &__price {
    font-weight: 700;
  }
  &__price s {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    font-weight: 400;
  }
  // .card__button
  &__button {
    margin-left: auto;
  }
  // .card__button-icon
  &__button-icon {
    fill: white;
    margin-right: 10px;
  }
}

.card__favorite-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-image: url('../img/icons/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.card__favorite-button.red {
  background-image: url('../img/icons/favorite-check.svg');
}

.card {
  max-width: 278px;
  border: 1px solid #f2f3f5;
  box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
  border-radius: 5px;
}

.card__slider-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
}

.card__slider-pagination .swiper-pagination-bullet-active {
  opacity: 0.8;
}
