.catalog {
	padding-bottom: 50px;
	&__container {
	}
	&__wrapper {
		display: flex;
		column-gap: 20px;
	}
	&__filter {
		display: none;

		@media (min-width: $tablet) {
			flex: 0 1 278px;
			display: block;
			border: 1px solid #f2f3f5;
			box-shadow: 0px 0px 20px rgba(34, 42, 70, 0.05);
			border-radius: 5px;
			padding: 20px;
			height: 100%;
		}
	}
	&__category {
		// display: none;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e2e4eb;
		margin-left: -20px;
		margin-right: -20px;
	}
	&-form__section {
		margin: 15px 0;
	}
	&-form__title {
		font-weight: 400;
		font-size: rem(18);
		line-height: math.div(26, 18);
		font-weight: 500;
		margin-bottom: 10px;
	}
	&-form__labels {
		display: flex;
		justify-content: space-between;
	}
	&-form__inputs {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&-form__input {
		display: flex;
		align-items: center;
		width: 114px;
		height: 38px;
		border: 1px solid #d0d2d7;
		border-radius: 5px;
		padding: 0 10px;
	}
	&-form__price-span {
		font-weight: 500;
	}
	&__category-item {
	}
	&__category-link {
		display: inline-block;
		margin-bottom: 10px;
		transition: color 0.2s linear;

		&:hover {
			color: $green;
		}
	}
	&__category-link.active {
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(26, 18);
	}
	&__content {
		@media (min-width: $tablet) {
			flex: 0 1 calc(100% - 298px);
		}
	}
	&-form__button {
		max-width: 278px;
		width: 100%;
		text-align: center;
		color: $green;
		padding: 13px 20px;
		font-weight: 500;
		border: 1px solid #0093a2;
		border-radius: 5px;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: #f2f6f7;
		}
	}
	&-form__filter-name {
		font-weight: 500;
		margin-bottom: 10px;
	}
	&-form__checkboxes {
		display: grid;
		gap: 10px 20px;
		grid-template-columns: repeat(2, max-content);

		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&-form__check-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-form__spollers-inner {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-form__section-btn {
		display: inline-block;
		align-self: start;
		font-size: rem(14);
		line-height: math.div(20, 14);
		font-weight: 500;
		color: $green;
	}
	&-form__title.spollers__title {
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-color: transparent;
			background-position: center center;
			background-image: url('../../img/icons/spoller.svg');
			transform: translate(0) rotate(180deg);
		}

		&::before {
			display: none;
			content: '';
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-color: transparent;
			background-position: center center;
			background-image: url('../../img/icons/spoller.svg');
		}
	}

	&-form__title.spollers__title._spoller-active::after {
		transform: rotate(0deg);
	}

	&__content-title {
		font-family: 'Yeseva One';
		font-size: rem(30);
		line-height: math.div(40, 30);
		margin-bottom: 15px;
	}
	&__sort {
		display: none;
	}
	&__sort-select {
		&--mobile {
		}
	}
	&__buttons-list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__buttons-item {
		&:last-child {
			margin-left: auto;
		}
	}
	&__buttons-btn {
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(20, 14);
		text-align: center;
		padding: 8px 15px;
		border: 1px solid #d0d2d7;
		border-radius: 5px;
		transition: all 0.3s linear;

		&:hover {
			background-color: #f2f6f7;
			color: $green;
		}
	}
	&__buttons-more {
		font-weight: 500;
		color: $green;
		padding: 8px 15px 8px 15px;
		border: 1px solid #0093a2;
		border-radius: 5px;
		svg {
			margin-left: 10px;
		}
	}
	&__filter-inner {
		display: flex;
		column-gap: 20px;
		margin-bottom: 20px;

		@media (max-width: 374px) {
			flex-wrap: wrap;
			row-gap: 15px;
		}
	}
	&__filter-button {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
		padding: 12px 16px;
		background-color: #f2f6f7;
		border: 1px solid #d0d2d7;
		border-radius: 5px;
		font-weight: 500;
		font-size: 14px;
		flex: 0 1 calc(50% - 10px);

		@media (max-width: 374px) {
			flex: 1;
		}
	}
	.select_catalog__sort-select--mobile {
		flex: 0 1 calc(50% - 10px);

		@media (max-width: 374px) {
			flex: 1;
		}
	}
	&__filter-count {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		color: white;
		background-color: #0093a2;
		border-radius: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
