.promo {
  // .promo__container
  &__container {
    padding: 0 15px;
  }
  // .promo__slider
  &__slider {
    margin-bottom: 20px;
  }
  // .promo__wrapper
  &__wrapper {
    
  }
  // .promo__slide
  &__slide {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(0deg, #f4e5e2, #f4e5e2), linear-gradient(0deg, #f8d1df, #f8d1df), #f4dfe9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right -30px;
    padding-left: 20px;
    padding-bottom: 38px;
    padding-top: 50px;
    // height: 50px;

    @media (min-width: $mobile) {
      padding-top: 90px;
      padding-left: 90px;
      padding-bottom: 86px;
    }
  }
  // .promo__slide-title
  &__slide-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    max-width: 224px;

    @media (min-width: $mobile) {
      font-size: 44px;
      line-height: 56px;
      max-width: 307px;
    }
  }
  // .promo__slide-promocode
  &__slide-promocode {
  }

  &__slide-button {
    display: none;
    @media (min-width: 375px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
      background-color: white;
      border-radius: 50%;
    }
  }

  &__slide-promocode div {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
    border-radius: 10px;
  }
  // .promo__slide-prev
  &__slide-prev {
  }
  // .promo__slide-next
  &__slide-next {
  }
}

.promocode {
  // .promocode__desc
  &__desc {
    margin-bottom: 5px;

    @media (max-width: 767px) {
        padding-top: 10px;
    }
  }
  // .promocode__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    max-width: 203px;
    position: relative;
  }
  // .promocode__name
  &__name {
    display: inline-block;
    padding: 14px 25px;
    color: $red;
  }
  // .promocode__button
  &__button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    opacity: 0.5;
  }
}

.promo__slide-prev {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  transform: translateY(-50%);
}
.promo__slide-next {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  transform: translateY(-50%);
}

.promo-pagination  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 0;
    opacity: 1;
}
.promo-pagination .swiper-pagination-bullet {
    background-color: #fff;
    border-radius: 0;
    width: 40px;
    height: 3px;
    opacity: 0.5;
}
.promocode__notion {
    position: relative;
        top: 35px;
    display: inline-block;
    right: -84px;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    z-index: 2122;
    background-color: $green;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.promocode__notion.active {
    top: 24px;
    opacity: 1;
}