.size-chooser {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

.size-chooser__label {
  padding: 4px 10px;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out 0s;
  border: 1px solid #d0d2d7;
  border-radius: 5px;
  color: #505567;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.size-chooser__label:hover {
  transition: border-color 0.2s linear;
  background-color: #0093a2;
  border: 1px solid #0093a2;
  color: white;
}

.size-chooser__item {
  display: none;
}

.size-chooser__item:checked + .size-chooser__label {
  background-color: #0093a2;
  border-color: transparent;
  color: #ffffff;
}
